.section{
  position: relative;
  z-index: $zContent;
  margin-bottom: 50px;
}

.title{
  color: $primary;
  font-size: 1.5rem;
  margin-bottom: 1.375rem;
  font-weight: bold;
}

.games{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}