.section{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container{

}

.title{
  text-align: center;
  margin-bottom: 1rem;
}

.items{
  @include flex(flex, column, center, center);
  gap: 1rem;
  width: 100%;
}

.item{
  width: 100%;
  padding: 0.5rem;
  @include flex(flex, row nowrap, space-between, center);
  background-color: $light-gray-blue;
  border-radius: 13px;
}