$primary: #001E39;
$secondary: #3182CE;

$primary-hover-btn: #3182CE;
$secondary-hover-btn: #1D65A8;
$secondary-active-btn: #1C4B76;

//actual
$white: #FFFFFF;
$black: #000000;

$light-gray-blue: #ECECEC;
$light-gray: #F3F3F0;

$background: rgba(31, 141, 131, 0.05);

$scroll_bg: #e4e4e4;;
$scroll_color: #001E39;