/*@font-face {
  font-family: 'GT-Eesti-Pro';
  font-display: swap;
  src: url('../fonts/GTEestiProDisplay-Light.woff2') format('woff2'), url('../fonts/GTEestiProDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GT-Eesti-Pro';
  font-display: swap;
  src: url('../fonts/GTEestiProDisplay-Regular.woff2') format('woff2'), url('../fonts/GTEestiProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GT-Eesti-Pro';
  font-display: swap;
  src: url('../fonts/GTEestiProDisplay-Medium.woff2') format('woff2'), url('../fonts/GTEestiProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GT-Eesti-Pro';
  font-display: swap;
  src: url('../fonts/GTEestiProDisplay-Bold.woff2') format('woff2'), url('../fonts/GTEestiProDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GT-Eesti-Pro';
  font-display: swap;
  src: url('../fonts/GTEestiProDisplay-UltraBold.woff2') format('woff2'), url('../fonts/GTEestiProDisplay-UltraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}*/
