// Media
$cursor: '(hover: hover) and (pointer: fine)';
$touch: '(pointer: coarse)';

$borderRadius: 12px;
$paddingInner: 12px;

// Z-index
$zLinesBG: 5;
$zContent: 10;
$zHeaderMobileMenu: 15;
$zHeader: 20;
$zModal: 30;
$zPopup: 40;
