.title{
  margin-bottom: 1rem;
}

.container{

}

.row{
  @include flex(flex, row nowrap, spance-between, start);
  gap: 1rem;
}

.content{
  width: 50%;
}

.videoWrapper{
  width: 50%;
  align-self: stretch;
  min-height: 300px;
}

.table{
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
  margin: 1rem 0 1.375rem 0;
}

.tableRow{
  @include flex(flex, row nowrap, start, center);
  gap: 0.5rem;
}